/* Add the Google Fonts you want, remove the ones you don't.

███████  ██████  ███    ██ ████████ ███████
██      ██    ██ ████   ██    ██    ██
█████   ██    ██ ██ ██  ██    ██    ███████
██      ██    ██ ██  ██ ██    ██         ██
██       ██████  ██   ████    ██    ███████

*/

@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url("make-something-fly.css");
@import url("scroll-to-top.css");
/*

X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██

*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("pencil-cursor.png"), auto !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████

*/

:root {
  --primary-text-color: black;
  --accent-color: #555;
  --hyperlink-color: black;
  --hyperlink-alternate-color: rgb(255, 255, 255);
  --overlay-color: #E4F57C;
  --hover-color: #0C5F70;
  --body-typeface: "Atkinson Hyperlegible", sans-serif;
  --heading-typeface: "Rethink Sans", sans-serif;
  --background-color: #FFFAF6;
  --alt-background-color: #FFF5ED;
  --text-selection-background-color: #0C5F70;
  --base-color: #e4f57c;
  --btn-color: #10ADCD;
  --color-1: #ff0b71;
  --color-2: #6197d7;
  --color-3: #92d0b6;
  --color-4: #a8cc15;
  --color-5: #fe36ea;
  --color-6: #ffcd1e;
  --color-7: #4a28d2;
  --color-8: #fa1d1d;
  --color-9: #64e8a1;
}

body {
  font-family: var(--body-typeface);
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::selection {
  background: #E4F57C;
}

/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */
}

svg {
  max-width: 100%;
}

@keyframes dance {
  0% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(3deg);
  }
}

/* Global & Mobile Typography

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██

*/

h1 {
  font-size: 2.5rem;
  font-family: var(--heading-typeface);
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--primary-text-color);
  line-height: 130%;
}

h2 {
  font-size: 2.25rem;
  font-family: var(--heading-typeface);
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--primary-text-color);
}

.project-name-preview {
  font-size: 2.5rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--primary-text-color);
  line-height: 1.2;
}

h3 {
  font-family: var(--heading-typeface);
  font-size: 1.325rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.3;
}

h4 {
  font-family: var(--heading-typeface);
  font-weight: 600;
}

h5 {
  font-family: var(--heading-typeface);
  font-weight: 700;
}


p {
  font-size: 1.3rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

span b {
  font-size: 2.5rem;
  font-family: "Atkinson Hyperlegible", cursive;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--primary-text-color);
  line-height: 110%;
}

/* Hyperlink Styles */
a {
  text-decoration: none;
  color: var(--hyperlink-color);
}

a:hover {
  color: var(--hover-color);
}

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

.navigation-arrow {
  color: var(--alt-background-color);
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: transparent;
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: var(--hover-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
}

.custom-navigation {
  color: black;
  transition: all 0.5s ease-in-out;
}

/* .custom-navigation:hover {
  transform: scale(2.1);
} */

/* @keyframes color-hover {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

.custom-navigation:hover {
  animation-name: color-hover;
  animation-duration: 3s;
  animation-iteration-count: infinite;
} */

.custom-navigation:hover {
  background: url(heading-background.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Color Styles */

.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}

.color-3 {
  color: var(--color-3);
}

.color-4 {
  color: var(--color-4);
}

.color-5 {
  color: var(--color-5);
}

.color-6 {
  color: var(--color-6);
}

.color-7 {
  color: var(--color-7);
}

.color-8 {
  color: var(--color-8);
}

.color-9 {
  color: var(--color-9);
}

/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████

*/

.work-wrapper {
  flex: 1;
}

.intro {
  background-color: var(--alt-background-color);
  padding-bottom: 5rem;
  text-align: center;
}

.intro-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  text-align: left;
}

.intro-flex-container div {
  flex: 1;
  background-color: var(--background-color);
  margin: 1rem;
  padding: 2rem;
  border-radius: 50px;
}

#svg-star-blue {
  position: relative;
  top: 0.75rem;
}

/* Define the rotation animation */
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.intro-box-1:hover #svg-star-blue {
  animation: rotating 3s linear infinite;
}

/* Padding around work grid and project page */
.portfolio,
.project-wrapper {
  margin-top: 1rem;
  padding: 0.25rem;
  text-align: center;
}

/* Defining the work page grid */
.grid {
  display: flex;
  gap: 4rem 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-gap: 0.25rem; */
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. 
  To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  
  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space 
  between the columns so that each column equally gets one fraction of that space.  */
}

/* 1 column on mobile resolutions */
.grid>* {
  flex: 1 100%;
}

.project-preview-wrapper {
  width: 100%;
  /* height: auto; */
  aspect-ratio: 1 / 1;
  position: relative;
  /* Required to contain overlay size */
}

.overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clipped-1 .solid {
  background-color: var(--color-5);
}

.clipped-2 .solid {
  background-color: var(--base-color);
}

.clipped-3 .solid {
  background-color: var(--color-3);
}

.clipped-4 .solid {
  background-color: var(--hover-color);
}

.clipped-5 .solid {
  background-color: var(--color-6);
}

.clipped-6 .solid {
  background-color: var(--color-2);
}

.clipped-1:hover .solid,
.clipped-2:hover .solid,
.clipped-3:hover .solid,
.clipped-4:hover .solid,
.clipped-5:hover .solid,
.clipped-6:hover .solid {
  opacity: 0.9;
}

.svg-shape {
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  width: 0;
  height: 0;
}

.project-name-preview {
  text-align: center;
  margin: 0.5rem auto 1.5rem auto;
}

.view-work-btn {
  background-color: var(--btn-color);
  color: var(--alt-background-color);
  padding: 0.5rem 1rem;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 600;
}

.clipped-1,
.clipped-2,
.clipped-3,
.clipped-4,
.clipped-5,
.clipped-6 {
  width: 100%;
  /* height: 600px; */
  aspect-ratio: 1 / 1;
  background-size: cover;
}

.overlay-wrapper-1 {
  background: url(../assets/thumbnails/schollar-thumbnail.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  clip-path: url(#thickhourglass);
}

.overlay-wrapper-2 {
  background: url(../assets/thumbnails/hale-packaging-thumbnail.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  clip-path: url(#pacmanghost);
}

.overlay-wrapper-3 {
  background: url(../assets/thumbnails/amirira-and-ena-illustration-thumbnail.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  clip-path: url(#upsidedownnarch);
}

.overlay-wrapper-4 {
  background: url(../assets/thumbnails/nearme-thumbnail.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  clip-path: url(#arrowshape);
}

.overlay-wrapper-5 {
  background: url(../assets/thumbnails/avant-garbage-thumbnail.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  clip-path: url(#leftscallopedsquare);
}

.overlay-wrapper-6 {
  background: url(../assets/thumbnails/himo-web-design-thumbnail.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  clip-path: url(#roundedsquare);
}

/* Holding Page Styles */

.holding-page-text {
  text-align: center;
  padding: 10% 15% 0 15%;
}

/* Hero

██   ██ ███████ ██████   ██████
██   ██ ██      ██   ██ ██    ██
███████ █████   ██████  ██    ██
██   ██ ██      ██   ██ ██    ██
██   ██ ███████ ██   ██  ██████

*/

.hero {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 1rem 0rem 1rem;
  align-items: center;
}

/* .menu-item {
} */

header {
  position: sticky;
  top: 0px;
  background-color: var(--background-color);
  z-index: 1;
}

.header-flex-container {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  height: 5rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0 0 2rem;
  align-items: center;
}

.logo-link {
  width: 4rem;
}

.logo-name {
  font-size: 1rem;
}

#nav-links {
  display: none;
  margin-top: 1rem;
  width: 100vw;
  background-color: var(--btn-color);
  font-weight: 600;
  padding: 1rem 0;
}

.nav-item {
  color: var(--alt-background-color);
  display: block;
  text-align: center;
  margin: 1rem;
}

.contact-btn {
  background-color: var(--btn-color);
  color: var(--alt-background-color);
  padding: 0.5rem;
  margin: auto;
  width: 9rem;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  transition: all 0.5s;
}

.contact-btn:hover .expandable {
  width: 0.5rem;
}

.contact-btn:hover {
  /* this width = contact-btn width + expandable on-hover width */
  width: 9.5rem;
}

.nav-container .contact-btn {
  background-color: var(--base-color);
  color: #000;
}

.hmbgr-menu {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
}

/* .hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  text-align: center;
} */

/* .hero-headline {
} */

/* .hero-icon {
  font-size: 4rem;
} */

/* This part isn't required */

.projects {
  background: #111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██

*/

.global-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  min-height: 70vh;
  padding: 2rem 2rem;
  color: black;
  background-color: var(--base-color);
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  min-height: 70vh;
  padding: 2rem 2rem;
  color: black;
}

.about-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

/* .about-image {
} */

.about-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.about-description {
  line-height: 1.5;
}

.about-gif {
  display: grid;
  place-items: center;
  margin: auto;
  width: 30%;
}

.recognitions-list {
  padding-top: 8rem;
  line-height: 1.5;
}

.recognition-item {
  text-decoration: underline;
  line-height: 2;
}

.exhibitions-list {
  padding-top: 8rem;
  line-height: 1.5;
}

.exhibition-item {
  text-decoration: underline;
  line-height: 2;
}

.about-image {
  width: 100%;
}

.footer-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 80%;
}

.footer-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.footer-item-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  text-align: center;
  align-self: end;
}

.footer-image {
  display: grid;
  place-items: center;
  margin: auto;
  width: 10rem;
}

.socials-list {
  display: grid;
  place-content: center;
  grid-gap: 2rem;
  grid-auto-flow: column;
}

.social-item {
  padding: 1rem;
  display: inline;
}

.fa-brands,
.fa-regular {
  font-size: 4rem;
}

/* Project Page

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████

*/

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
}

.arrow {
  padding-right: 1rem;
}

.project-image {
  font-size: 12rem;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

/* Main Project Image Area */

.project-info {
  width: 100%;
}

.project-title {
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.project-description {
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.project-navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.project-details {
  width: 100%;
}

/* Playground 


      :::::::::  :::            :::   :::   :::  ::::::::  :::::::::   ::::::::  :::    ::: ::::    ::: ::::::::: 
     :+:    :+: :+:          :+: :+: :+:   :+: :+:    :+: :+:    :+: :+:    :+: :+:    :+: :+:+:   :+: :+:    :+: 
    +:+    +:+ +:+         +:+   +:+ +:+ +:+  +:+        +:+    +:+ +:+    +:+ +:+    +:+ :+:+:+  +:+ +:+    +:+  
   +#++:++#+  +#+        +#++:++#++: +#++:   :#:        +#++:++#:  +#+    +:+ +#+    +:+ +#+ +:+ +#+ +#+    +:+   
  +#+        +#+        +#+     +#+  +#+    +#+   +#+# +#+    +#+ +#+    +#+ +#+    +#+ +#+  +#+#+# +#+    +#+    
 #+#        #+#        #+#     #+#  #+#    #+#    #+# #+#    #+# #+#    #+# #+#    #+# #+#   #+#+# #+#    #+#     
###        ########## ###     ###  ###     ########  ###    ###  ########   ########  ###    #### #########       


*/

.playground-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.draggable {
  position: absolute;
  width: 150px;
  cursor: grab;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
}

.lightbox .caption {
  color: white;
  margin-top: 30px;
  text-align: center;
}

/*

 ██████  ███    ███ ███████ ██████  ██  █████
██    ██ ████  ████ ██      ██   ██ ██ ██   ██
██ ██ ██ ██ ████ ██ █████   ██   ██ ██ ███████
██ ██ ██ ██  ██  ██ ██      ██   ██ ██ ██   ██
 █ ████  ██      ██ ███████ ██████  ██ ██   ██


*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* body {
  } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* body {
  } */

  .project-name-preview {
    font-size: 1.5rem;
  }

  .intro-flex-container {
    flex-direction: row;
  }

  /* 3 columns on tablet & desktop resolutions */
  .grid>* {
    flex: 1 30%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* body {
  } */

  h1 {
    font-size: 2.45rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.55rem;
  }

  span b {
    font-size: 1rem;
  }

  .header-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15rem;
    padding-left: 2rem;
  }

  .logo-link {
    width: 5rem;
  }

  .logo-name {
    font-size: 1.25rem;
  }

  #nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3rem;
    width: 20rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
  }

  .nav-item {
    color: #000;
    /* padding: 0.5rem;
    margin: 0.5rem; */
  }

  .contact-btn {
    /* padding: 0.5rem; */
    margin: 0.5rem auto;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .hmbgr-menu {
    display: none;
  }

  /* .hero {
    min-height: 100vh;
  } */

  /* .hero-headline-wrapper {
    padding: 4rem 8rem;
  } */

  /* .grid {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 1rem;
  } */

  .work-page-grid-item {
    margin: 1rem;
  }

  .project-name-preview {
    font-size: 2rem;
  }

  /* .work-page-grid-item a img {
    background-color: var(--overlay-color);
  }

  .work-page-grid-item>a:hover img,
  .work-page-grid-item>a:active img {
    opacity: 0.9;
  } */

  .global-footer {
    padding: 4rem 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 70vh;
  }

  .about {
    padding: 0 4rem 4rem 4rem;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
  }

  .about-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .about-item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .about-description {
    width: 100%;
  }

  .footer-item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .footer-item-2 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .footer-item-3 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    text-align: center;
    align-self: end;
  }

  .socials-list {
    place-content: start space-evenly;
  }

  .social-item {
    padding: 1rem;
    display: inline;
  }

  .fa-brands,
  .fa-regular {
    font-size: 5rem;
  }

  /* Padding around work grid and project page */
  .portfolio,
  .project-wrapper {
    padding: 3rem;
  }

  .project-aside {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  .project-info {
    width: 80%;
  }

  .project-title {
    width: 80%;
    padding-left: 0;
    padding-right: 0;
  }

  .project-description {
    width: 70%;
    padding-left: 0;
    padding-right: 0;
  }

  .project-details {
    width: 100%;
  }

  /* Main Project Image Area on Large Devices */
  /* .project-details {
  } */

  .project-image {
    min-height: 100vh;
    padding: 0.5rem;
  }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}